<a id="permalink" href="{{page.url}}"></a>
<footer><small><span id="rate">&nbsp;</span><a href="{{ site.github.repository_url }}">on GitHub</a></small></footer>
<!-- LOAD SITE SCRIPTS -->
{% if site.js %}
  {% for script in site.js %}<script src="{{ site.baseurl }}/assets/js/{{ script }}.js"></script>
  {% endfor %}{% endif %}
<!-- LOAD PAGE SCRIPTS -->
{% if page.js %}
  {% for script in page.js %}<script src="{{ site.baseurl }}/assets/js/{{ script }}.js"></script>
  {% endfor %}{% endif %}
</body>
</html>
