---
---
// vars
$body-color: #000
$body-bg: #fff
$grey: #7f7f7f
$font-size: 18px
$font-size-medium: 20px
$font-size-big: 24px
$border: solid 2px #000
$pad: 12px
$pad-big: 19px
$width: 960px
$blood: #b33

html
  overflow-y: scroll

// styles
body
  font-family: sans-serif
  color: $body-color
  background: $body-bg
  font-size: $font-size
  font-style: normal
  margin: 0 auto
  max-width: 960px
  line-height: 1.5rem

section
  padding: 0 $pad
  font-size: $font-size-medium

header
  border-bottom: $border
  margin-bottom: 30px
  padding: $pad-big $pad
  a
    color: $body-color
    font-weight: 700
    text-decoration: none
    &:hover
      color: $blood
  nav
    float: right
    // text-transform: uppercase
    a
      margin-right: $pad

footer
  border-top: $border
  margin-top: 30px
  padding: $pad-big $pad
  a, #rate
    color: $grey
    font-style: oblique
    text-decoration: none
  a
    float: right

// colors
a
  color: $blood

a.live
  color: $grey
  cursor: default
  &:hover
    color: $grey

h1
  // font-size: $font-size-big

h2, em
  font-size: $font-size-medium
  font-weight: 100
  color: $grey
  font-style: oblique

// lists

ul li
  margin: $pad-big 0

// images

p img
  width: 100%

// permalink

#permalink
  display: none
