---
---
// vars
$body-color: #000
$body-bg: #fff
$grey: {% for c in site.colors %}{{c.grey_color}}{% endfor %}
$font-size: 18px
$font-size-medium: 20px
$font-size-big: 24px
$font-size-huge: 1.6em
$border: solid 2px #000
$pad: 12px
$pad-big: 19px
$width: 960px
$links_color: {% for c in site.colors %}{{c.link_color}}{% endfor %}

html
  overflow-y: scroll

// styles
body
  font-family: sans-serif
  color: $body-color
  background: $body-bg
  font-size: $font-size
  font-style: normal
  margin: 0 auto
  max-width: 960px
  line-height: 1.5rem

// colors
a
  color: $links_color
  &:hover
    text-decoration: none
  &:active
    color: $body-bg

body > header
  color: $grey
  border-bottom: $border
  padding: $pad-big $pad
  a
    color: $body-color
    text-decoration: none
    font-weight: 700
    &:hover
      color: $links_color
  nav
    float: right
    a
      margin-right: $pad

section
  padding: 0 $pad
  font-size: $font-size-medium
  header
    blockquote
      color: $grey
      margin: 1em 0
      font-size: smaller
      a
        color: $body-color
        font-weight: 700
        text-decoration: none
        &:hover
          color: $links_color
  nav
    display: inline-block
    a
      margin-right: 1em
      &[rel="last"]
        float: right
      &[rel="first"]
        float: left

footer
  border-top: $border
  margin-top: 30px
  padding: $pad-big $pad
  a, #rate
    color: $grey
    font-style: oblique
    text-decoration: none
  a
    float: right

a.live
  color: $grey
  cursor: default
  &:hover
    color: $grey

span.date
  color: $grey

h1
  font-size: $font-size-huge
  line-height: $font-size-huge
  margin: 0.83em 0 0 0

h2
  font-size: $font-size-medium
  font-weight: 100
  color: $grey
  font-style: oblique

// lists

ul li
  margin: $pad-big 0

// images

p img
  width: 100%

// helper

.hide
  display: none

// octicons

#root span.octicon
  font-size: large
